body{
    margin: 0;
    font-family: "helvetica";
}
#topbar{
    height: 60px;
    width: 100%;
    position: fixed;
    background-color: #3c3c3c;
    text-align: justify;
}
#icon{
    height: 100%;
    width: 60px;
    display: inline-block;
}
#sort{
    height: 100%;
    width: 300px;
    display: inline-block;
}
#upload{
    height: 100%;
    width: 60px;
    display: inline-block;
}
#logout{
    height: 100%;
    width: 60px;
    display: inline-block;
    float: right;
}
#filler{
    width: 100%;
    height: 60px;
}
#container{
    height: 100%;
    width: 100%;
}
#graph_container{
    background-color: lightgray;
    width: 100%;
    height: 260px;
}
#graph{
    height: inherit;
    background-color: silver
}
#chart_container{
    
}

.item:hover{
    background-color: #4c4c4c;
}