body{
    margin: 0;
    font-family: "helvetica";
}
#topbar{
    height: 60px;
    width: 100%;
    position: fixed;
    background-color: #3c3c3c;
    text-align: justify;
}
#icon{
    height: 100%;
    width: 60px;
    display: inline-block;
    content:url(home.png);
}
#sort{
    height: 100%;
    width: 300px;
    display: inline-block;
}
#upload{
    height: 100%;
    width: 60px;
    display: inline-block;
}
#logout{
    height: 100%;
    width: 60px;
    display: inline-block;
    float: right;
}
#filler{
    width: 100%;
    height: 60px;
}
#container{
    height: 100%;
    width: 100%;
}
#graph_container{
    background-color: lightgray;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    width: 100%;
    height: 260px;
}
canvas{
    height: 100%;
    width: 50%;
}
.graph{
    height: 220px;
    width: 400px;
    display: inline-block;
    margin: 10px;
    background-color: silver;
}
#expanded_graph{
    background-color: lightgray;
    max-width: 100%;
}
#table_container{
    background-color: lightgray;
    width: 90%;
    min-height: 1000px;
    margin: 5%;
}

.item:hover{
    background-color: #4c4c4c;
}